<div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-{{id}}" aria-hidden="true" tabindex="-1"></div>
    <ul class="navPage-subMenu-list w-75 mr-0 ml-auto d-none">
        <li class="navPage-subMenu-item">
            <span class="nav-title">Down Alternative Microfiber Comforter</span>
                <a class="navPage-subMenu-action p-0 mb-0 navPages-action{{#if is_active}} activePage{{/if}}"
                href="/green-tea-memory-foam-bed-mattres/"
                aria-label="{{name}}">
                    <img class="mt-2 mb-2" src="{{cdn  '..img/nav/down-alternative-microfiber-comforter.png'}}"  />
                </a>
                <p class="mt-0 nav-price">Starts at <b>$25.00</b></p>                    
        </li>
        <li class="navPage-subMenu-item">
            <span class="nav-title">Cotton Encased Down Blend</span>
                <a class="navPage-subMenu-action p-0 mb-0 navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}" aria-label="{{name}}">
                    <img class="mt-2 mb-2" src="{{cdn  '..img/nav/cotton-encased-down-blend.png'}}"  />       
                </a>
                <p class="mt-0 nav-price">Starts at <b>$23.00</b></p>
                </li>
        </ul>
</div>
