
<a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
href="/mattresses/">Mattresses
<i class="fa fa-chevron-down icon navPages-action-moreIcon" aria-hidden="true" style="transition: unset;"></i>
</a>
<div class="navPage-subMenu _nav-open-flag mattreses-subMenu slide-left" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
 <ul class="navPage-subMenu-list w-50 ">
         <li class="navPage-subMenu-item">
             <a href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/" style="text-decoration: none;"><span class="nav-title">COOLest Gel Mattress</span></a>
                 <a class="navPage-subMenu-action p-0 mb-0 navPages-action{{#if is_active}} activePage{{/if}}"
                    href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/"
                    aria-label="{{name}}">
                    <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/cool-gel-mattress-mega-menu.png'}}" class="lazyload my-2" alt="Coolest Gel image" class="w-100 lazyload" loading="lazy" decoding="async" srcset="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/cool-gel-mattress-mega-menu.png'}}">
                    
                 </a>
                 <p class="mt-0 nav-price">Starts at <b>$315</b></p>             
         </li>
         <li class="navPage-subMenu-item">
             <a href="/weekender-12-hybrid-mattress-plush/" style="text-decoration: none;"><span class="nav-title">Hybrid Mattress</span></a>
                 <a class="navPage-subMenu-action p-0 mb-0 navPages-action{{#if is_active}} activePage{{/if}}" href="/weekender-12-hybrid-mattress-plush/" aria-label="{{name}}">                       
                     <img src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/mega-menu-hybrid.png'}}" class="lazyload my-2" alt="still in doubt image banner" class="w-100 lazyload" loading="lazy" decoding="async" srcset="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/mega-menu-hybrid.png'}}">
                                     
                 </a>
                 <p class="mt-0 nav-price">Starts at <b>$199.00</b></p>
         </li>
 </ul>
</div>
