<div style="max-width: 1920px; margin: 0 auto;" id="home-imagauto">
<div class="shop-best-seller">
    <h2>Shop Our Best Sellers</h2>
    <div class="best-sgrid">
        <div class="best-sbox">
            <a href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/" class="p-0 m-0 no-decor">
                 <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/images/stencil/original/image-manager/coolest-gel-feature.jpg'}}" alt="Coolest Gel Feature" class="w-100 lazyload" alt="Coolest Gel matress image" width="367" height="264"> 
            </a>
            <a href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/" class="p-0 m-0 no-decor"><h4>COOLest Gel Memory Foam Mattress</h4></a>
            <p>Feel the difference with our universally loved and well-reviewed mattress. Always available in your preferred size.</p>
            <a href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/" class="grid-action">View Item</a>
        </div>
        <div class="best-sbox">
            <a href="https://icon-sleep.com/search.php?search_query=Weekender%20Hybrid%20Mattress" class="m-0 p-0 no-decor">
                <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://store-z2qdisybty.mybigcommerce.com/content/converted%20webp/homepage-weekender-hybrid.webp'}}" alt="hybrid product image" class="w-100 lazyload" alt="Coolest Gel matress image" data-sizes="auto" width="367" height="264">
            </a>
            <a href="https://icon-sleep.com/search.php?search_query=Weekender%20Hybrid%20Mattress" class="p-0 m-0 no-decor"><h4>Weekender Hybrid Mattress</h4></a>
            <p>Elevate your sleeps and rests even further with our most premium mattress to date. Available in all sizes.</p>
            <a href="https://icon-sleep.com/search.php?search_query=Weekender%20Hybrid%20Mattress" class="grid-action">View Item</a>
        </div>
        <div class="best-sbox">
            <a href="https://icon-sleep.com/2-5-inch-gel-memory-foam-mattress-topper/" class="p-0 m-0 no-decor">
                <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/images/stencil/original/image-manager/hybrid-product-image.jpg'}}" alt="2.5 inch Gel Memory" class="w-100 lazyload" alt="Coolest Gel matress image" data-sizes="auto" width="367" height="264">
            </a>
            <a href="https://icon-sleep.com/2-5-inch-gel-memory-foam-mattress-topper/" class="p-0 m-0 no-decor"><h4>2.5" Gel Memory Foam Mattress Topper</h4></a>
            <p>Our expertly designed mattress topper helps protect your mattress from sagging and accidental spills.</p>
            <a href="https://icon-sleep.com/2-5-inch-gel-memory-foam-mattress-topper/" class="grid-action">View Item</a>
        </div>

    </div>
</div>
<div class="happy-div pb-4 pt-1 my-5" style="background: url(https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/starry-bg-200px.png) !important; padding: 1.5rem 0 !important; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; width: 85%; margin: 3rem auto 0!important;">
    <h2 >Icon Sleep vs The Competition</h2>
    <p class="w-75 mx-auto mt-0">We don't claim we're better. We just offer the same value for less</p>
</div>

<div class="gif-animation-section">
        <video class="hero-video-actual lazyload" autoplay loop muted playsinline data-src="https://alwaysopencommerce.com/wp-content/themes/alwaysopencommerce/assets/videos/optimize-is-comparison-_new.mp4" type="video/mp4">
        </video>
</div>

<div class="flex-mattrees-section us w-96 mt-3">
    <div class="usbanner-div">
        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/usa.png?t=1647849295&_gl=1*mkoz7y*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzgzODg1Ni40Ni4xLjE2NDc4NDkyODIuNTk.'}}" alt="USA Banner image" width="573" height="479">
    </div>
    <div class="banner-div1" style="background: transparent !important; margin: auto; padding-top: 0; padding-bottom: 0;">
        <div class="us-banner-description">
            <h3 class="mt-0">We Learned the Hard Way!</h3>
            <br/>
            <span >   
                Buying an overseas mattress may save a few bucks today, but those savings will not help if it needs to be replaced in a few years. We know from experience! Prior to 2018, we imported from China. The quality was inferior and the costs we have saved were not enough to offset all the warranty claims that followed. Today, we proudly manufacture from McDonough, GA.</span>
        </div>
        
    </div>
</div>
<div class="for-mobile">
<div class="flex-mattrees-section w-99">
    <div class="night-sleep-div">
        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://store-z2qdisybty.mybigcommerce.com/content/converted%20webp/bed-top-view.webp'}}" alt="Night Sleep image" data-sizes="auto" width="781" height="437">
        <div class="another-mattress night-div">
            <div class="another-mattress-img">
                <img class="lazyload"  src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/nightsleeptrial.png?t=1623227850'}}" alt="night feature icon" width="100" height="100">
            </div>
            <div class="another-mattress-description night-desc" >
                <h3 class="">100-Night Sleep Trial</h3>
                <span class="" >Why settle for a 10-minute mattress trial in-store where everyone's looking when you can try it out for 100 nights in the comfort of your own home?</span>
                <br><a href="/sleep-trial/" class="learn-button" style="color: #1fc0fb; font-family: Raleway!important; font-size: 18px;">Learn More...</a>
            </div>
        </div> 
    </div>

    <div class="certified-prod-div" style="height: auto">
        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://store-z2qdisybty.mybigcommerce.com/content/converted%20webp/certified-bg.webp'}}" data-sizes="auto" alt="certified product bg image">
        <div class="another-mattress cert-div">

            <div class="another-mattress-img">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/puffy-certipur-us-certification-seal.png?t=1623227851'}}" alt="certified product feature icon" width="100" height="100">
            </div>
            <div class="another-mattress-description cert-prod">
                <h3 style="color: #132448;">Certified<br> Products</h3>
                <span style="color: #333;">Our mattresses are <span style="font-weight: bold;">CertiPUR-US®</span> and STANDARD 100 <span style="font-weight: bold;"> OEKO-TEX® certified.</span></span>
            </div>
        </div> 
    </div>     
</div>

<div class="flex-mattrees-section mt-4 w-99">
    <div class="long-term-div" style="height: auto">
        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://store-z2qdisybty.mybigcommerce.com/content/converted%20webp/forever-warranty-bg.webp'}}"  alt="forever warranty image background">
        <div class="another-mattress long-term-con">
            <div class="another-mattress-img ">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/lifetime-warranty-icon.png'}}" alt="forever warranty feature icon" width="100" height="100">
            </div>
            <div class="another-mattress-description long-trm">
                <h3 class="">Forever<br> Warranty</h3>
                <span class="">Icon Sleep products come with an honest Forever warranty.</span>
            </div>
        </div> 
    </div>
    <div class="feature-rich-div">
        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://store-z2qdisybty.mybigcommerce.com/content/converted%20webp/feature-rich-%20mattress.webp'}}" alt="feature rich banner image" data-sizes="auto" width="783" height="439">
        <div class="another-mattress feature-matt">
            <div class="another-mattress-img ">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/feature-icon.png?t=1623227849&_ga=2.147646839.1588106158.1623054117-1835193253.1617777202'}}"  alt="feature rich mattres icon" width="100" height="100">
            </div>
            <div class="another-mattress-description feature-m">
                <h3 class="">Feature-rich <br>Mattress</h3>
                <span class="">Designed to efficiently provide comfort, relief, and support.</span>
            </div>
        </div> 
    </div>

</div>
</div>
<!-- Banner for Affirm Landing Page -->

    <div class="affirm-container mt-4">
        <div class="position-relative">
            <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://store-z2qdisybty.mybigcommerce.com/content/converted%20webp/affirm-bg.webp'}}" alt="affirm-bg" id="bg" class="lazyload" width="1147" height="423">
        </div>
        <div class="affirm-text">
            <h2 class="mb-3">Buy Now, pay later. <br/> <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/c62c99a-affirm-logo-color-.png'}}" loading="lay" decoding="async" alt="affirm logo on text" width="104" height="42">is now available.</h2>
            <p class="text-dark">Buying a new Icon Sleep is easier than ever<br/> thanks to flexible financing by Affirm.</p>
            <a class="learn-more_white" href="/affirm/" target="_blank">Learn More</a>        
        </div>
    </div>
<!-- End Of banner Affirm Landing Page -->

<div class="fetures-gridcon">
    <div>
        <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/icon-awesome-shipping.png?t=1647918321&_gl=1*bi4oh3*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkxNjg2Ni41MC4xLjE2NDc5MTg0ODQuNjA.'}}" alt="Free shipping and return" class="lazyload" width="162" height="162"> 
        <h4>Free Shipping & Returns</h4>
        <p>Rest easy as we deliver your mattress right at your doorstep for free – always on time, anywhere in the US.</p>
    </div>
    <div>
        <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/quick-easy-step.png?t=1647918320&_gl=1*bi4oh3*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkxNjg2Ni41MC4xLjE2NDc5MTg0ODQuNjA.'}}" alt="Quick easy and set up" class="lazyload" width="162" height="162">
        <h4>Quick & Easy Setup</h4>
        <p>The mattress can be used within
            a few minutes upon opening the
            package. Setup is just a few
            easy steps.</p>
    </div>
    <div>
        <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/lifetime-forever-warranty.png?t=1656318264&_gl=1*191cxap*_ga*ODk3ODY0MTgwLjE2NDg4MDI1OTE.*_ga_WS2VZYPC6G*MTY1NjMxODI1MC4yNzMuMC4xNjU2MzE4NDA2LjYw'}}" alt="Forever warranty img" class="lazyload" width="162" height="162">
        <h4>Forever Warranty</h4>
        <p> Feel safe and secure with our Forever Warranty that covers defects in workmanship and materials. Warranty policies apply.</p>
    </div>
</div>
<div class="custom-stcontainer mb-4">
    <h4 class="d-none">See what others thinks about ICON SLEEP</h4>
   <div id="stamped-reviews-widget" data-widget-type="carousel" data-per-slide="4" data-show-avatar="false" data-title=""></div> 
</div>

<div class="indoubt-section">
    <div>
        <h4 class="my-0">Still in doubt?<br>Put us to the test.</h4>
        <p>Jaw-dropping prices, same <br>iconic experience.</p>
        <a href="/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/">Shop Mattresses</a>
    </div>
    <div>
        <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/homepage-still-in-doubt.png'}}" alt="still in doubt image banner" class="w-100 lazyload" width="745" height="260"></div>
</div>

<div class="test-mattresses-section d-none">
    <div class="test-mattresses-title">
        <h2 class="footer-mattress-title fade-in in-view">Still in doubt? <br>Put us to the test.</h2>
        <a href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/" class="mattress-button fade-in from-bounce-in duration-1500 in-view">Shop Mattresses</a>         
    </div>
</div>

<div class="have-questionsec">
    <h2>Have questions?</h2>
    <p class="quotes">Here are some frequently asked questions.</p>

    <div class="question-grid">
        <div class="grid-con">
            <div class="title-flex align-items-start">
                <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/question-mark-icon.png?t=1647925466&_gl=1*8pzu4b*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyNTA4Mi41MS4xLjE2NDc5MjU0NTUuNTU.'}}" alt="question mark icon image" class="lazyload" width="35" height="35">
                <h4>Where do you manufacture your mattresses?</h4>
            </div>
            <p>Icon Sleep designs, manufactures, and stores its mattresses – and its components – in the United States. This is to ensure that all Icon Sleep products are designed and manufactured under strict quality assurance standards as regulated and certified by CertiPUR-US® and OEKO-TEX® Standard 100. <br/><br/><a href="https://icon-sleep.com/faqs/" class="pl-0 font-weight-bold">Read More</a></p>
            
        </div>
        <div class="grid-con">
            <div class="title-flex">
                <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/question-mark-icon.png?t=1647925466&_gl=1*8pzu4b*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyNTA4Mi41MS4xLjE2NDc5MjU0NTUuNTU.'}}" alt="question mark icon image" class="lazyload" width="35" height="35">
                <h4>How can Icon Sleep sell for less?</h4>
            </div>
            <p>The Icon Sleep business model is brilliantly straightforward: we design a mattress, we build it, we store it, and then we sell it – exclusively – online. That’s why our price tags do not come with any hidden charges, expensive marketing costs, or eye-watering overhead expenses that customers unknowingly pay for.<br/><br/><a href="https://icon-sleep.com/faqs/" class="pl-0 font-weight-bold">Read More</a></p>
        </div>
        <div class="grid-con">
            <div class="title-flex">
                <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/question-mark-icon.png?t=1647925466&_gl=1*8pzu4b*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyNTA4Mi41MS4xLjE2NDc5MjU0NTUuNTU.'}}" alt="question mark icon image" class="lazyload" width="35" height="35">
                <h4>What payment methods do you accept?</h4>
            </div>
            <p>We accept online payments via major credit/debit cards (American Express, Discover, Mastercard, and Visa), PayPal, Apple Pay, and Google Pay. Customers who wish to purchase an Icon Sleep mattress via financing can choose Affirm as their payment method upon checkout.<br/><br/><a href="https://icon-sleep.com/faqs/" class="pl-0 font-weight-bold">Read More</a></p>
        </div>
        <div class="grid-con">
            <div class="title-flex align-items-start">
                <img src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/question-mark-icon.png?t=1647925466&_gl=1*8pzu4b*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyNTA4Mi41MS4xLjE2NDc5MjU0NTUuNTU.'}}" alt="question mark icon image" class="lazyload" width="35" height="35">
                <h4 class="mb-0">What if I'm living in Canada or another country? Do you ship overseas?</h4>
            </div>
            <p>We accept online payments via major credit/debit cards (American Express, Discover, Mastercard, and Visa), PayPal, Apple Pay, and Google Pay. Customers who wish to purchase an Icon Sleep mattress via financing can choose Affirm as their payment method upon checkout.<br/><a href="https://icon-sleep.com/faqs/" class="pl-0 font-weight-bold d-block mt-2">Read More</a></p>
        </div>
    </div>
</div>
</div>

<div class="cta-istruth">
        <div class="w-75 mx-auto py-5">
            <h2 style="color: #fff; text-align: center; font-weight: 700; text-transform: inherit; margin-top: 0;" class="slide-in left-long delay-1000 in-view appear">Get In Touch</h2>
            <p style="color: #fff; text-align: center; font-size: 18px; margin-bottom: 1.5em;" class="slide-in left-long delay-1000 in-view appear">We keep our lines open to customers who need assistance.<br/> Feel free to reach us by using this inquiry form or by visiting our Support Center.</p>
            <a href="/get-in-touch/" class="is-truth fade-in from-bounce-in duration-5000 in-view appear" style="color: #fff; text-align: center; display: inline-block;padding: 14px 25px;" target="_blank">Get In Touch</a>   
        </div>    
    </div>


<style>
    .cta-istruth {
        background: #11298a;
        margin-bottom: 0;
        height: auto;
        padding: 0 0;
        position: relative;
        margin-top: 0;
    }
    html, body {
    font-family: 'Open Sans', sans-serif !important;
    }
    figure {
        margin: 8px;
    }
    p.card-text.blogPost-publishedDate {
        text-align: left;
        color: #888;
    }
    .gif-animation-section video {
        width: 100%;
    }
    .gif-animation-section  video::-webkit-media-controls {
        display: none;
    }
    .gif-animation-section video::-webkit-media-controls-play-button { display: none;}

    .gif-animation-section video::-webkit-media-controls-volume-slider { display: none;}
    
    .gif-animation-section video::-webkit-media-controls-mute-button { display: none;}
    
    .gif-animation-section video::-webkit-media-controls-timeline { display: none;}
    
    .gif-animation-section video::-webkit-media-controls-current-time-display { display: none;}
    @media only screen and (max-width: 1350px){
        .another-mattress-description.feature-m {
            color: #fff;
            font-family: Almarai !important;
            font-size: 18px;
        }
    }

    @media only screen and (max-width: 1080px){
        .another-mattress-description.feature-m {
            color: #fff;
            font-family: Almarai !important;
            font-size: 18px;
            max-width: 60%;
        }
    }
    @media only screen and (max-width: 1000px){
        .another-mattress.feature-matt {
            text-align: left;
            position: absolute;
            top: 10%;
        }

    }
    @media only screen and (max-width: 800px){

    }
    @media only screen and (max-width: 768px){
        .another-mattress.feature-matt .another-mattress-img{
            margin-left: 1rem;
        }
        .another-mattress-description.feature-m{
            max-width: 70%;
            margin-left: 1rem;
        }
        .another-mattress-description.night-desc {
            width: 45%;
            margin-left: 5em;
        }
        .ads-content-text p {
            font-size: 18px;
            margin-top: 8px;
            color: #132448;
        }
        .blog-heading > h2 {
            color: #132448;
            font-weight: 900;
            text-align: center;
            margin-top: 4%;
        }
        .blog-heading > h2 > span {
            color: #132448;
        }
        .blog-heading {
            max-width: 85%;
            margin: 0 auto;
        }
        .”blog” img {
            width: 100%;
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 678px){
        .heroCarousel-content{
            position: relative;
            transform: unset;
            text-align: center;
            margin-top: 2.5rem;
        }
    }
    @media only screen and (max-width: 568px){
        .another-mattress.feature-matt {
            text-align: left;
            position: absolute;
            /* top: 35%; */
            max-width: 59%;
        }
        .another-mattress-description.night-desc {
            width: 45%;
            margin-left: 4em !important;
        }
        .review-left-con {
            text-align: center;
        }
        .review-left-con img {
            width: auto;
            text-align: center;
            margin: 0 auto;
        }
        .review-buyer{
            display: flex;
            justify-content: center;
        }
        .ads-content-text p {
            font-size: 16px;
            margin-top: 8px;
            color: #132448;
            font-weight: 600;
        }
        .ads-content > div > div > h3 {
            margin-bottom: 0;
            color: #132448;
            font-weight: 600;
            margin-top: 0;
            font-size: 18px;
        }
        .test-mattresses-title {
            text-align: center;
            padding-top: 1%;
            padding-bottom: 5%;
            padding-left: 0;
        }
        .another-mattress.feature-matt .another-mattress-img {
            margin-left: 10%;
        }
        .another-mattress-description.feature-m {
            margin-left: 2em;
        }
        .most-affordable-desc h2 {
            width: 50%;
            line-height: 1.3;
            color: #174567;
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 0;
        }   
        .most-affordable-desc p {
            margin-bottom: 6%;
            margin-top: 5px;
            font-size: 10px;
        }    
        .button--primary {
            border-color: #fff;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background: #132448;
            padding: 15px 60px 15px 60px;
            font-weight: 700;
            border-radius: 5px;
        }
        .heroCarousel-content {
            width: 95% !important;
            text-align: center;
            margin-top: 2.5rem;
            left: 0 !important;
        }
        .heroCarousel-title {
            font-size: 36px;
            font-weight: 600;
            text-transform: inherit;
            font-family: 'Open Sans' !important;
            color: #132448;
            text-transform: capitalize;
            line-height: 1;
        }
    }
    @media only screen and (max-width: 500px){
        .heroCarousel-content {
            width: 100% !important;
            text-align: center;
            margin: 2.5rem auto;
            padding: 8px;
        }
        .heroCarousel-action {
            text-transform: capitalize !important;
            font-family: 'Open Sans';
        }
        .flex-mattrees-section > div.banner-div1 {
            background-position: left;
        }
        .banner-most-affordable > img {
            display: none;
        }
        .most-affordable-desc h2 {
            width: 70%;
            line-height: 1.3;
            color: #174567;
            font-weight: 500;
            font-size: 28px;
            text-transform: capitalize;
            margin: 0 auto;
        }
        .most-affordable-desc {
            position: absolute;
            top: 5%;
            left: 0%;
            line-height: 1;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }
        .us-banner-description {
            line-height: 1.3;
            width: auto;
            margin-top: 3%;

        }
        .night-sleep-div > img {
            object-position: left;
        }
        .review-banner > img {
            width: 100%;
            position: relative;
            height: 14em;
            border-radius: 15px;
        }
        .another-mattress.feature-matt {
            text-align: left;
            position: absolute;
            top: 35%;
            max-width: 85%;
        }
        .another-mattress.feature-matt .another-mattress-img {
            margin-left: 8%;
        }
        .another-mattress-description.feature-m {
            margin-left: 1.5em;
            color: #fff;
            font-family: Almarai !important;
            font-size: 18px;
            max-width: 100%;
        }
        .feature-rich-div > img {
            width: 100%;
            position: relative;
            height: 100%;
            object-position: left;
            object-fit: cover;
        }
        .another-mattress-description.long-trm {
            max-width: 85%;
        }
        .another-mattress.cert-div {
            text-align: left;
            position: absolute;
            top: 33%;
        }
        .another-mattress-description.night-desc {
            max-width: 80% !important;
            width: 80%;
            margin-left: 3em !important;
            line-height: 1.3;
        }
        .another-mattress.night-div {
            top: 25%;
        }
        .powered-div > p {
            margin-top: 0;
            display: grid;
            place-items: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        
        }
        a.reviewreal-button {
            background-color: white;
            color: #132448;
            text-transform: none;
            text-decoration: none;
            padding: 15px 35px;
            border-radius: 5px;
            font-weight: 700;
        }
        .review-banner > img {
            width: 100%;
            position: relative;
            height: 16em;
            border-radius: 15px;
        }
        .ads-text {
            text-align: center;
            color: white;
            max-width: 85%;
            margin: 0 auto;
            margin-top: 4em;
        }
        .ads-text h1 {
            font-size: 20px;
        }
        .test-mattresses-title {
            text-align: left;
            padding-top: 1%;
            padding-bottom: 10%;
            padding-left: 13%;
        }
        .blogPosts-more {
            margin-top: 0;
        }
        .”blog” {
            margin-bottom: 0;
        }
        .most-affordable-desc p {
            margin-bottom: 5%;
            margin-left: 6%;
            margin-right: 3%;
            font-size: 16px;
        }
        a.mattress-button-aff {
        top: 5px;
        position: relative;
    }
    .another-mattress-description {
        line-height: 1.3;
        font-size: 16px !important;
    }

}

@media only screen and (max-width: 375px) {
    .heroCarousel-title {
        text-transform: capitalize !important;
        font-family: Almarai !important;
        color: #132448;
        text-transform: uppercase;
        width: 100% !important;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .another-mattress.cert-div{
        top: 20%;
    }
    .most-affordable-desc h2 {
        width: 80%;
    }
    .button--primary {
        border-color: #fff;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background: #132448;
        padding: 15px 40px 15px 40px;
        font-weight: 700;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 312px) {
    .most-affordable-desc h2 {
        width: 90%;
    }
    .heroCarousel-title {
        font-size: 28px;
    }

}
</style>

