<section class="heroCarousel mb-2 mt-4"
    data-slick='{
        "arrows": {{arrows}},
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}},
        "slide": "[data-hero-slide]",
        "adaptiveHeight": true
    }'
>
    {{#each carousel.slides}}
    {{#if button_text}}
    <div data-hero-slide="{{@index}}">
    {{else}}
       <a {{#if @first}} href="#" {{else}} href="{{url}}" {{/if}} data-hero-slide="{{@index}}" aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'carousel.slide_number' slide_number=(add @index 1)}}{{/if}}">

    {{/if}}
        <div class="heroCarousel-slide {{#if @first}}last-img{{/if}}{{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
            {{#if @first}}
            <img alt="Homepage Banner" class="layzload w-75 mx-auto added-img" width="1349" height="577" fetchpriority="high" src="https://cdn11.bigcommerce.com/s-z2qdisybty/images/stencil/original/image-manager/homepage-banner-blurb.png">
            {{/if}}
            {{#if button_text}}
            <a href="{{url}}" class="heroCarousel-image-wrapper">
            {{else}}
            <div class="heroCarousel-image-wrapper">
            {{/if}}
            <!--<img data-src="{{cdn '../img/New_Homepage_banner.webp'}}" alt="Homepage Banner" class="lazyload" width="1349" height="577" fetchpriority="high" />-->
            {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    fallback_size='1280w'
                    lazyload='disabled'
                }}
            {{#if button_text}}
            </a>
            {{else}}

            {{#if @first}}
          
                <div id="rightabsolute-0">
                     <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/images/stencil/original/image-manager/bg-transparent-try.png">
                </div>
        
                <div id="rightabsolute-1">
                    <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/images/stencil/original/image-manager/bg-transparent-try.png">
                </div>
            {{/if}}
            </div>
            {{/if}}
    



            {{#or heading text button_text}}
                {{> components/carousel-content}}
            {{/or}}


        </div>
    {{#if button_text}}
    </div>
    {{else}}
    </a>
    {{/if}}
    {{/each}}
    {{#if carousel.slides.length '>' 1}}
        {{> components/carousel-content-announcement}}
        {{#if play_pause_button}}
            {{> components/carousel-play-pause-button}}
        {{/if}}
    {{/if}}
</section>

